.testIndexPage{
    background-color: #F4F4F4 !important;
}
#passwordbuttontest{
    height: fit-content;
}
.testlogo{
    width:135px;
    height: 60px;
}
.leftaligndiv{
    text-align: justify;
}
.testcontinue{
    width: fit-content;
}
.blackcolor{
    background-color: black !important;
}
#medialogo{
    height: 30px;
    width:30px
}
.p-carousel-prev,.p-carousel-next{
    display: none;
}
@media screen and (max-width:768px) {
    #testEmailinput,#testbuttons,#testbuttonsPassword,#testpasswordlabel{
        width: 100% !important;
        border-radius: 0px !important;
    }    
    #testbuttonsPassword{
        height: 88px;
        overflow: hidden;
    }
    .testbreak{
        display:none ;
    }
    .testlogo{
        width:100px;
    }
    #formtest{
       padding-top: 25px !important;
       margin: 0px !important;
    }
}
@media screen and (max-width:518px) {
    #footerbody,#passworddowntext,#testpasswordlabel{
        font-size: smaller !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }    
    #testPasswordcm{
      padding: 15px !important;
    }
    #medialogo{
        margin-right:1.2rem !important ;
    }
    .testbreak{
        display:block !important;
    }
}
@media screen and (max-width:365px) {
    #footerbody,#passworddowntext,#testpasswordlabel{
        font-size: xx-small !important;;
    }    
}